{
    "rcon_smp": {
        "rcon-ip": "",
        "rcon-password": "",
        "rcon-port":25575
    },
    "smp":{
        "latest.log": ""
    },

    "rcon_cmp": {
        "rcon-ip": "",
        "rcon-password": "",
        "rcon-port":25595
    },
    "cmp":{
        "latest.log": ""
    },

    "rcon_mirror": {
      "rcon-ip": "",
      "rcon-password": "",
      "rcon-port":345
    },
    "mirror":{
        "latest.log": ""
    },

    "rcon_testcreative": {
        "rcon-ip": "",
        "rcon-password": "",
        "rcon-port":25575
    },
    "testcreative":{
        "latest.log": ""
    }
}
